In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Bank_Note/BankNote_Authentication.csv')

In [3]:
df.head(5)
#0 is authentic 1 is fake

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [4]:
df.groupby('class').count()

       variance  skewness  curtosis  entropy
class
0           762       762       762      762
1           610       610       610      610

In [5]:
X = df.iloc[:,:-1]
y= df.iloc[:,-1]

In [6]:
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [7]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(
    X,y,test_size=0.3, random_state=0)

In [10]:
from sklearn.ensemble import RandomForestClassifier

In [11]:
classifier = RandomForestClassifier()
classifier.fit(X_train, y_train)

RandomForestClassifier()

In [12]:
y_pred = classifier.predict(X_test)

In [15]:
from sklearn.metrics import classification_report, accuracy_score
score = accuracy_score(y_test,y_pred)

In [16]:
score

0.9878640776699029

In [17]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99       232
           1       0.98      0.99      0.99       180

    accuracy                           0.99       412
   macro avg       0.99      0.99      0.99       412
weighted avg       0.99      0.99      0.99       412

In [18]:
import pickle
pickle_out = open("classifier.pkl","wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [19]:
import numpy as np

In [20]:
classifier.predict([[2,3,4,1]])

array([0], dtype=int64)